$mainCol: #244893;
$skyblue: #6cabd5;
$purple: #71488a;
$fontCol: #313131;
@mixin flexSet($dir:row,$wrap:nowrap) {
	display: flex;
	flex-direction: $dir;
	flex-wrap: $wrap;
}
@mixin btnReset() {
	border: none;
	outline: none;
	background: none;
}
@mixin irSet () {
	text-indent: -9999px;
	background-repeat: no-repeat;
}
@mixin flexLhTa() {
	@include flexSet();
	justify-content: center;
	align-items: center;
}
@mixin pos($pos:fixed,$left:calc((100% - 1280px) /2),$top:0,$z:100) {
	position: $pos;
	left: $left;
	top: $top;
	z-index: $z;
}
@mixin pad24() {
	padding: 24px;
	box-sizing: border-box;
}
@mixin articleSet() {
	width: 1280px;
	@include pos();
	right: 0;
	bottom: 0;
	min-width: 1280px;
	min-height: 800px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	> h2 {
		width: 850px;
		margin: 32px 0 0 335px;
		font-size: 36px;
		color: #fff;
		text-shadow: 0 0 16px $fontCol;
	}
}
@mixin bgcOut {
	background-color: rgba(255, 255, 255, 0.6);
	outline: 10px solid #fff;
}

@keyframes scroll {
	from {
		top: 300px;
	}
	to {
		top: 308px;
	}
}
@keyframes spin1 {
	from {
		opacity: 0;
		transform: rotateY(-180deg);
	}
	to {
		opacity: 1;
		transform: rotateY(0deg);
	}
}
@keyframes spin2 {
	from {
		opacity: 0;
		transform: rotateY(-180deg);
	}
	to {
		opacity: 1;
		transform: rotateY(0deg);
	}
}
@keyframes spin3 {
	from {
		opacity: 0;
		transform: rotateX(-180deg);
	}
	to {
		opacity: 1;
		transform: rotateX(0deg);
	}
}
